html {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
	min-width: 100%;
	min-height: 100%;
	background: linear-gradient(135deg, rgba(16, 96, 243, 0.65), rgba(111, 0, 243, 0.65)), url('../img/background.jpg'); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	 
 }

body h1 {
	margin: 0 auto;
	max-width: 200px;
	font-size: 1em;

}

body p {
	margin: 25px auto;
}

.picture {
	margin: 20px auto;
	background-image: url('../img/me_wife.jpg');
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	border-radius: 100%;
}

a { 
	margin: 0 auto;
	width: 50px;
	display: block;
	padding: 45px;
}

a img {
	
	margin: 0 auto;




footer {

}


