/** BREAKPOINTS **/

@media screen and (min-width: 480px) {
	
	.item {
		float: left;
		min-width: 175px;
		min-height: 125px;
		margin: 5px;
		border: 1px #32CD32 solid;

        }
    .item :nth-child(4n) {
    clear: left;
      }
    .work {
    	padding-left: 0px;
    	margin: 55px auto;
    	max-width: 650px; 

    }

    header h1 {
    	font-size: 2em;
    }

    .about-des {
    	width: 400px;
    }    

    footer {
    	min-width: 100%;
    }

    section {
    	width: 480px;
    	margin: 0 auto;
    }
    section img {
    	width: 480px;
    	margin: 0 auto;
    }
}

@media screen and (min-width: 660px) {
	body {
		padding: 25px;
	}

	header h1 {
         font-size: 48px;
	}

	.conatainer {
		max-width: 1200px;
	}

	.work {
		padding: 0;
		margin: 25px auto;
		max-width: 1000px;
	}
	.item {
		float: left;
		min-width: 275px;
		min-height: 175px;
		margin: 10px;
		border: 1px #32CD32 solid;
	}

	.item:hover {
		border: 1px #32cd32 solid;
		background-color: #1a1a1a;
		opacity: 0.5;
	}

	nav a:hover {
	color: #32CD32;
    }

    footer{
    min-width: 100%;
    margin: 0 auto;
    
    }

    .about-des {
    	width: 680px;
    }

    section {
    	width: 1000px;
    	margin: 0 auto;
    }

    section img {
    	width: 100%;
    	margin: 0 auto;
    }

}
