
@import url(https://fonts.googleapis.com/css?family=Dosis:200,500|Raleway:100|Josefin+Sans:100,700|Cardo);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);
/*********************
General Stylings
*********************/

html, body {
	font-size: 12px;
	margin:0;
	padding: 0;
}

a {
	text-decoration: none !important;
	color: #ceced0;
}

a:hover {
	text-decoration: none !important;
	color: #27CF5F;

}

a:visited {
	text-decoration: none !important;
	color: #310EED;
}

a:active {
	text-decoration: none !important;
}

li {
	list-style: none;
	list-style-type: none;
}

.coloredGreen {
	color: #27CF5F;
}

/*********************
Mobile
*********************/
nav {
	width: 100%;
	padding: 0 15% 0 15%;
}


a.navbar-brand.logo {
	padding: 0;
}

.navbar {
	background: rgba(12, 12, 12, 0);
	border: none;
	padding-top: 10px;
}

.navLink {
	margin: 0 auto;
	height: 25px;
	color: #ceced0;
 	font-family: 'Raleway', sans-serif;
 	font-weight: 100;
 	font-size: 1.5rem;
}


.hero {
	height: 450px;
	width: 100%;
	background: url('../img/herobackground.png') center/cover;
 }

 .heroText {
 	display: block;
 	margin: 100px auto 0 auto;
 	color: #ceced0;
 	font-family: 'Raleway', sans-serif;
 	font-weight: 500;
 	font-size: 1.75rem;
 	max-width: 65%;
 }

 .scrollIcon {
 	width:35px;
 }

 a.scrollIcon img {
 	display: block;
 	margin: 0 auto;
 }

.scrollClicker {
	margin: 55px auto 0 auto;
	max-width: 75px;

}
 .scrollText {
 	color: #ceced0;
 	font-family: 'Raleway', sans-serif;
 	font-weight: 100;
 	font-size: 1.5rem;
 }
.aboutMeSection {
	height: 400px;
	overflow: hidden;
	background: #ceced0;
}

.aboutMeHeader {
	margin: 50px auto 0 auto;
	color: 242625;
	font-size: 1.75rem;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	max-width: 60%;
}

.aboutMeText {
	color: #242625;
	font-size: 1.25rem;
	font-family: 'Dosis', sans-serif;
	max-width: 55%;
	text-align: center;
	margin: 0 auto;
}
.aboutMeText a {
	text-decoration: none;
	color: #27CF5F;
}
.behance {
	font-family: 'Cardo', serif;
}


.exampleimage {
	width: 300px;
	display: block;
	margin: 35px auto 0 auto;
}

.Packages {
	background: #242625;
	height: 700px;
	width: 100%;
	color: #ceced0;
}
.packageContent {
	margin-top: 55px;
}
.proPackage {
	margin-top: 10px;
}
.package {
	height: 300px;
}
.packageHeader {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 2rem;
	text-align: center;
}
.package ul {
	margin: 0 auto 25px 0;
	padding: 0;
}
.package ul li {
	text-align: center;
}
.price {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
}
.packageItem {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
}

a.callToAction {
	display: block;
	width: 150px;
	height: 35px;
	padding: 10px 0 10px 0;
	background: #27CF5F;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-decoration: none !important;
	color: #ceced0;
	text-align: center;
	font-size: 1.2rem;
	margin: 0 auto;
	border-radius: 3px;
	border-bottom-style: solid;
	border-bottom-color: #32A142;
	border-bottom-width: 4px;
}
/*.contact-seperator {
	margin: 0 auto;
	border-top: solid 1px #242625;
	width: 100%;
	background: #CECED0;
}*/
.contact {
	background: #ceced0;
	color: #242625;
	height: 400px;
}
.contactHeader {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

.contactForm {
	font-family: 'Josefin Sans', sans-serif;
	max-width: 200px;
	margin: 0 auto;
}

form {
	display: block;
	margin: 0 auto;
	color: #242625;
}

.cLabel {
	height: 30px;
	color: #242625;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	width: 100%;
	border: solid 1px #242625;
	background: none;
}

textarea {
	color: #242625;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	background: none;
	border: solid 1px #242625;
	width: 100%;
	height: 100px;
	padding: 0;

}
.sendButton {
	color: #ceced0;
	width: 150px;
	height: 35px;
	background: #27CF5F;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	border-radius: 3px;
	border-bottom-style: solid;
	border-bottom-color: #32A142;
	border-bottom-width: 4px;
	/*float: right;*/
	margin: 0 auto;
}

.sendButton:hover {
	background: #27CF5F;
	color: #ceced0;
	border-bottom-style: solid;
	border-bottom-color: #32A142;
	border-bottom-width: 4px;
}

.footer {
	width: 100%;
	background: #242625;
	height: 55px;
	margin-bottom: 0;
	padding-top: 20px;
}

.footer-text {
	color: #ceced0;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

/*********************
Tablet
*********************/
@media screen and (min-width: 768px) {
	#navbar.collapse.navbar-collapse {
		padding-right: 15%;
	}

	.hero {
		height: 600px;
	}

	.heroText{
		font-size: 3rem;
		margin-top: 200px;
	}

	.aboutMeHeader {
		font-size: 2rem;
	}
	.aboutMeText {
		font-size: 1.45rem;
	}

	.contactForm {
		max-width: 600px;
		margin: 0 auto;
	}

	.sendButton {
		float: none;
	}
}

@media screen and (min-width: 992px) {
	#navbar.collapse.navbar-collapse {
		padding-right: 20%;
	}

	.cLabel {
		width: 100%;
	}

	textarea {
		width: 100%;
	}

}
/*********************
Desktop
*********************/
@media screen and (min-width: 1024px) {
	nav {
		display: inline-block;
		margin-top: 20px;
	}
	#navbar.collapse.navbar-collapse {
		padding-right: 15%;
	}

	a.navLink.smoothScroll.link:hover {
		color: #65B15B;
	}

	.hero {
		height: 800px;
	}

	.heroText {
	margin-top: 200px;
 	font-size: 4rem;
	font-weight: 100;
 	max-width: 55%;
 	}
	.scrollClicker {
		margin-top: 175px;
	}
	.aboutMeSection {
	height: 600px;
	overflow: none;
	}
	.aboutMeContent {
		margin-top: 75px;
	}
	.aboutMeHeader {
	margin-top: 0;
	color: 242625;
	font-size: 3.55rem;
	text-align: left;
	}

	.aboutMeText {
	font-size: 2rem;
	max-width: 55%;
	text-align: left;
	}
	p.aboutMeText {
		margin-left: 138px;
	}
	.exampleimage {
	margin-top: 0;
	width: 400px;
	}

	.Packages {
		height: 550px;
	}

	.packageContent {
		margin-top: 75px;
	}
	.packageHeader {
		font-size: 3rem;
	}
	.packageItem {
		font-size: 1.75rem;
	}

	.contactForm {
	max-width: 65%;
	}
	.cLabel {
	padding: 10px;
	width: 100%;
	}


	textarea {
	padding: 10px;
	width: 100%;

	}
	.sendButton {
	float: right;
	}



}
