/*********************
General Stylings
*********************/

html, body {
	font-size: 12px;
	margin:0;
	padding: 0;
}

a {
	text-decoration: none;
	list-style-type: none;
	color: #fff;
}

a:hover {
	text-decoration: none !important;
	color: #fff;
}

a:visited {
	text-decoration: none !important;
	color: #310EED;
}

a:active {
	text-decoration: none !important;
}

p, h1, h2, h3, h4, h5, h6,{
	color: #fff !important;
}


/********** HOME PAGE **********/
.home-header {
	height: 500px;
	width: 100%;
	background: url('../img/backgroundhome.jpg') center/cover;
 }

.logo img {
	width: 200px;
	margin-bottom: 20px;
}

.home-intro {
	color: #6C7A89;
	color: #ECF0F1;
	margin-top: 50px;
	text-transform: uppercase;
}

.intro-paragraph p {
	font-family: 'Lato', sans-serif;
	font-size: 1.30rem;
	letter-spacing: 2px;
	padding-top: 25px;

}

.intro-paragraph {
	max-width: 200px;
	margin: 0 auto;
}
.intro-name {
	color: #F5A623;
}

.nav-links {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.5px;
	font-size: 0.75rem;
	margin: 55px auto 0 auto;
	min-width: 150px;
	max-width: 300px;
}

.nav-links a:hover {
	text-decoration: none !important ;
	color: #310EED;
}

.nav-links p {
	color: #fff;
	text-decoration: none;
	padding-top: 5px;
}

.link {
	text-decoration: none !important ;
	color: #fff;
}

.link:hover {
	text-decoration: none !important ;
	color: #fff;
}


.myWork {
	background: url('../img/myworkbg.jpg') center/cover;
	box-shadow: inset 0 0 0 1000px rgba(23,26,33,.95);
	/*z-index: 3;*/
	width: 100%;
	height: 350px;
	color: #fff;
}


.whatido {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
	font-size: 1.25rem;
	color: #F5A623;
	font-weight: 700;
	max-width: 50%;
	margin: 25px auto 25px auto;
}

.para {
	margin: 0 auto;
	max-width: 200px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1.55px;
	font-size: 1.15rem;
	color: #ECF0F1;
}

.workicons {
	margin-top: 20px;
	padding-bottom: 25px;
}

.casestudies {
	width: 100%;
	height: 300px;
	background: rgb(23,26,33);
}


.contact {
	height: 500px;
	background: #fff;
}


.content {
	min-width: 100%;
}



@media screen and (min-width: 480px) {

	.logo img {
	width: 350px;
	}

	.intro-paragraph {
	max-width: 700px;
	}

	.whatido {
	font-size: 2rem;
	margin-top: 35px;
	max-width: 70%;
	}

	.p-myWork {
	font-size: 2.2rem;
	}
	.myWork {
	height: 450px;
	}
	.para {
	min-width: 400px;
	font-size: 1.5rem;
	}
}

@media screen and (min-width: 660px) {

	.home-intro {
	margin-top: 225px;
	}

	.content {
	position: relative;
	top: 805px;
	}

	.home-header {
	position: fixed;
	height: 805px;
	width: 100%;
	}


	.nav-links p:hover {
	color: #F5A623;
	-webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: 0.3s linear;
	text-decoration: none;
	}

	.nav-links {
	font-size: 1rem;
	min-width: 300px;
	max-width: 600px;
	}
	.myWork {
	height: 450px;
	}
	/*.whatido {
	min-width: 800px;
	font-size: 2.75rem;
	margin-top: 55px;
	}*/
	.para {
	max-width: 500px;
	font-size: 1.5rem;
	}
}
